<html>
	<head>
		<title>Buyer Order History Page</title>

		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 		<link href="/css/bootstrap.css" rel="stylesheet">
 		<link href="/css/bootstrap-theme.css" rel="stylesheet">
 		<link href="/css/buyer_orderHistory.css" rel="stylesheet">

 		<!-- Use internet source for icons-->
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>
		<div class = "container">

			<div id="myHeader" class="header">
 				<table>
 					<td><div class="topIcon"><a href="./buyer_home"><i class="material-icons" style="font-size:50px;">backspace</i></a></div></td>
 					<td><h2>Orders in Progress</h2></td>
 				</table>
 			</div>

			<div class="content">
				<br>
			<div id="incompleted">
			{{#each incompleted_items}}
			 <div class = "incompletedOrder" id="{{@index}}">
				<table>
					<tr>
						<td rowspan="3">
      						<img src="{{imageURL}}">
      					</td>
      					<td colspan="2">
      							<h4 class = "item_name">{{name}}</h4>
      					</td>
      					<td></td>
      				</tr>
					<tr>
      					<td>
      						<p><Strong>Total: </strong>{{total}}</p>
      					</td>
      					<td>
      						<p><Strong>Pickup Time: </Strong>{{pickupTime}}</p>
      					</td>
      				</tr>
					<tr>
						<td colspan="2">
							<p><Strong>Pickup Address: </Strong>{{pickupLocation}}</p>
						</td>
					</tr>
				</table>
				<button class="complete">Confirm Pickup</button>
			</div>
			{{/each}}
			</div>

			<hr>

			<a href="buyer_orderHistory2">
				<div id="viewCompleted">
						<center><h4>View Past Orders</h4></center>
						<center><i class="material-icons" style="font-size:50px;">playlist_add_check</i></center>
				</div>
			</a>

			</div>

			<script src="/js/jquery-1.11.0.js"></script>
			<script src="/js/bootstrap.js"></script>
			<script src="/js/userHome.js"></script>
		</div>
	</body>
</html>
